.fundo {
  background-color: #22007c;
  color: white;
}

.cabecalho {
  background-color: #04052e;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  display: flex;
  justify-content: center;
  font-size: 3rem;
  overflow: auto;
  padding: 10%;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}

.campo {
  display: flex;
  justify-content: center;
}

.digitacao {
  color: #040027;
  font-size: 15px;
  width: 50%;
  padding: 10px;
  background-color: #dad0fa;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 10px 29px 6px rgba(2, 2, 18, 0.5);
}

.botao {
  background-color: #01023f;
  color: #d4caff;
  height: auto;
  width: 2vw;
  text-align: center;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease-in-out;
  border: none;
  border-radius: 2px;
  margin-left: 1%;
  font-size: large;
}

.botao:hover {
  background-color: #0004ff ;
}

.priparallax {
  background-image: url("../public/parallax1.jpeg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 500px;
}

.segparallax {
  background-image: url("../public/parallax2.jpeg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 500px;
}

.textintro {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  align-items: center;
  margin: 40px 130px;
  font-size: 18px;
  line-height: 1.5;
}

.title {
  font-size: 4rem;
}

.text {
  font-size: 1.3em;
  font-family:serif;
}

.blocosnav {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.navindiv {
  display: flex;
  justify-content: center;
}

.renas {
  background-image: url("../public/navrenascimento.jpeg");
}

.barroco {
  background-image: url("../public/navbarroco.jpeg");
}

.roman {
  background-image: url("../public/navromantismo.jpeg");
}

.neocla {
  background-image: url("../public/navneoclassicismo.jpeg");
}

.rococo {
  background-image: url("../public/navrococo.jpeg");
}

.reali {
  background-image: url("../public/navrealismo.jpeg");
}

.impre {
  background-image: url("../public/navimpressionismo.jpeg");
}

.abstra {
  background-image: url("../public/navabstrato.jpeg");
}

.abstra,
.impre,
.reali,
.rococo,
.neocla,
.roman,
.barroco,
.renas {
  height: 400px;
  width: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  background-position: center;
  margin: 1% 1%;
  border-radius: 30px;
}


.impre:hover,
.reali:hover,
.rococo:hover,
.roman:hover,
.barroco:hover,
.renas:hover {
  cursor: pointer;
  transition: all 1s ease-in-out;
  transform: scale(1.1);
}

.neocla:hover,
.abstra:hover{
  cursor: pointer;
  transition: all 1s ease-in-out;
  transform: scale(1.1);
}

.span {
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  margin-top: 50%;
  width: 100%;
  font-size: 1.5rem;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.spanmaior{
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  margin-top: 15%;
  font-size: 1.5rem;
  width: 100%;
  font-size: 2rem;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.neocla,
.abstra {
  width: 1250px;
}

.segtitulo{
  margin-left: 30%;
  margin-top: 1%;

}

.logohome {
  width: 52%;

}

.footerhome {
  display: flex;
  justify-content: space-around;
  background-color: #140152;
}

.thome {
  margin-left: -4%;
  margin-top: 4%;
  color: white;
  padding: 2%;
} 

.botaohome{
  background-color: #22007c;
  color: aliceblue;
  align-items: center;
  list-style: none;
  padding: 2%;
  margin: 0% 47% 0% 40%;
  border-radius: 5px;
}

.botaohome:hover {
  background-color: #2c00bc;
  
}
@media screen and (max-width: 800px) {
  .cabeçalho {
    font-size: 0.5rem;
  }

  .neocla,
  .abstra {
    width: 400px;
  }

  .spanmaior {
    margin-top: 50%;
    font-size: auto;
    
    margin-right: 30%;
    font-size: 1.5rem;

    .botao {
      width: 1%;
      height: 1%;

    }
  }
}
